body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
}
#topbar{ 
    background-color: #545658;
    color: bisque;
}
#social-icons ul {
    list-style: none;
    margin:0px;
    padding: 0px;
}
#social-icons ul li {
    float: left;
    margin-left: 10px;
}
#social-icons ul li a{
    text-decoration: none;
    color: white;
}
#social-icons ul li a:hover,
#social-icons ul li a:active{
    color: blueviolet;
}
#contact-info {
    text-align: right;
    color: white;
}
#contact-info span{
    padding: 0px, 10px;
    border-left: solid 1px white;
}
#contact-info span:first-child{ 
    border-left: none;
}

/* navigation bar */
.btn-outline-success {
color: white;
border:none;
}
.navbar-dark {
    background-color: rgb(161, 134, 82) !important;
}
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus{
    color: antiquewhite;
}
 
/* footer */
#footer{ 
    background-color: #545658;
    color: bisque;
}

/* buttons */
.btn{
    background-color: rgb(161, 134, 82);
    color: white;
}
 
.box {
    background-color:#FFFFFF;
	padding:10px 20px;  
}

.box ul {
	margin:0;
}

.box ul li {
	font-size:13px;
	border-bottom:1px dashed #DDDDDD;
	padding:10px 0;
	font-weight:600;
}

.box ul li:last-child {
	border-bottom:0;
}

.box ul li i {
	font-size:18px;
	margin-right:20px;
}

.box.categories ul li i {
	color:#BBBBBB;	
	position:relative;
	top:2px;
	width:20px;
}
.bs-example>.btn, .bs-example>.btn-group {
    margin-top: 5px;
    margin-bottom: 5px;
}